 .btn-link.text-danger {
   text-decoration: none;
   transition: all 0.3s ease;
 }

 .btn-link.text-danger:hover {
   text-decoration: underline;
   transform: translateX(2px);
 }

 .form-control {
   border-radius: 8px;
   padding: 1rem;
 }

 .form-floating>label {
   padding: 1rem;
 }
